body {
    font-family: sans-serif;
    background-color: #f5f5f5; /* Light gray background */
    margin: 0;
    padding: 20px;
}

h1, h2, h3 {
    text-align: center;
    color: #222; /* Darker text color */
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-form {
    margin-bottom: 20px;
    text-align: center;
}

.weather-info {
    width: 80%; /* Adjust for desired width */
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff; /* White background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow */
}


form label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="submit"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50; /* Green button color */
    color: white;
    cursor: pointer;
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2; /* Lighter background for headers */
}

@media (max-width: 768px) {
    main {
        flex-direction: column; /* Stack elements on smaller screens */
    }
}