<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>

<body>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ city_input.as_p }}
        <input type="submit" value="Submit"/>

    </form>

    {% if response and not response.error %}
        <!-- if there is content in the api response and there are no errors, then display them -->

        <h1>{{response.location.name}}, {{response.location.country}} </h1>

        <p>is experiencing {{response.current.temp_c}} celsius of weather</p>
        <p>a weather condition of {{response.current.condition.text}}</p>
        <img src="{{response.current.condition.icon}}" alt="weather condition icon">

    {% elif response.error %}
        <h1>{{response.error}}</h1>


    {% else %}
        <h1>Please make a search, input a city name</h1>

    {% endif %}



</body>

</html>